<html>
	<head>
	</head>
	<body>
		{% load static %}
		{% get_static_prefix %}
		Hello,This is a template in Django!
		<br/>
		<select>
			<option value = "http://www.udlap.mx/catalogocursos/Cursos.aspx?year=2013&sesion=OTO3"> Otoño II Trimestral </option>
			<option value = "http://www.udlap.mx/catalogocursos/Cursos.aspx?year=2014&sesion=PRI1"> Primavera Semestral 2014 </option>
			<option value = "http://www.udlap.mx/catalogocursos/Cursos.aspx?year=2014&sesion=PRI2"> Primavera I Trimestral 2014 </option>
		</select>
	</body>
	<script>
	</script>
</html>