<%-- 
    Document   : index
    Created on : 9/12/2013, 04:36:09 PM
    Author     : narft
--%>
{% load static %}
		
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.png">

    <title>Carga de Materias</title>

    <!-- Bootstrap core CSS -->
    <link href="{% get_static_prefix %}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% get_static_prefix %}css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% get_static_prefix %}img/udlap_logo.jpg" width="130" height="30"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#" >Selección de Materias</a></li>
              <li><a href="http://www.udlap.mx/intranet/intranet.aspx">Intranet</a></li>
              <li><a href="http://www.udlap.mx/ofertaacademica/liveUDLAP.aspx">Correo</a></li>
             </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
         <!-- <div class="page-header">-->
          <h1>Elige tus materias</h1>
         <!-- </div>-->
        <!----- FORM -->
        	<form class="navbar-form">
        		<div class = "form-group">
        			<label>Periodo: </label>
        		</div>	
        		<div class = "form-group">	
	        		<select id="period" class="form-control">
						<option value = "none"> Elije una opción </option>
						<option value = "http://www.udlap.mx/catalogocursos/Cursos.aspx?year=2013&sesion=OTO3"> Otoño II Trimestral </option>
						<option value = "http://www.udlap.mx/catalogocursos/Cursos.aspx?year=2014&sesion=PRI1"> Primavera Semestral 2014 </option>
						<option value = "http://www.udlap.mx/catalogocursos/Cursos.aspx?year=2014&sesion=PRI2"> Primavera I Trimestral 2014 </option>
					</select>
				</div>
				<div class = "form-group">
        			<label>Filtro: </label>
        		</div>	
        		<div class = "form-group">
        			<input id ="filter" type = "text" class = "form-control" placeholder="Palabras de búsqueda" disabled>
        		</div>
        	</form>
        	<!--- FORM -->
        	<!--- POOL -->
        	<div id ="pool-wrapper" class="col-md-3" >
				<h3><center>Materias</center></h3>
    			<div class = "jumbotron" id="pool" data-spy="scroll"style="overflow-y: scroll;height: 350px;">
    				<center>Seleeciona un periodo para ver las materias.</center>
    			</div>	
        	</div>
        	<!--- POOL -->
        	<!--- MODAL -->
        	<div class="modal fade" id="descripcion" tabindex="-1" role="dialog" aria-labelledby="descripcionLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="desc-title">Por favor espera</h4>
			      </div>
			      <div class="modal-body" id ="desc-body">
			      	
			      </div>
			      <div class="modal-footer">
			        <input type="button" class="btn btn-primary" id="add" value="Agregar!"/>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div>
        	<!--- MODAL -->
			<!--- TABLE -->
        	<br/>
        	<div id="panel-wrapper"class = "col-md-8 ">
	        	<table class="table table-striped" id="horario">
	  				<thead id ="h-head">
		  				<th>Hora</th>
		  				<th>Lunes</th>
		  				<th>Martes</th>
		  				<th>Miércoles</th>
		  				<th>Jueves</th>
		  				<th>Viernes</th>
		  				<th>Sábado</th>
	  				</thead>
	  				<tbody id ="h-body">
	  					<tr>
	  						<td colspan="7"><center>No hay materias</center></td>
	  					</tr>
	  				</tbody>
				</table>
				<input type="button" class="btn btn-primary" id="clear" value="Borrar Horario"/>
				<input type="button" class="btn btn-primary" id="down" value="Descargar Horario"/>
			</div>	
			</div>	
			<!--- TABLE -->
        	<!--- MODAL -->
        	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Por favor espera</h4>
			      </div>
			      <div class="modal-body">
			      	<center>
			        	<img src="{% get_static_prefix %}img/loading.gif" width="100px" height="100px"><br/>
			        	cargando..
			      	</center>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div>
        	<!--- MODAL -->
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted" align="center">Created by: Mota, Quezada& Santoyo  ®. <br> In asociation with Dr.Daniel Vallejo Rodriguez </p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    <script type="text/javascript">
			var materias = null;
		$(document).ready(function(){
			
			$('#period').change(function(){
				var value = $('#period').val();
				//alert(value);
				if(value != "none"){
					$('#filter').removeAttr('disabled');
					$('#myModal').modal({
					  keyboard: true,
					  backdrop: 'static'
					});
					$('#myModal').modal('show');	
					
					
						$.ajax({
						  url: "http://localhost:8000/sch",
						  type: "GET",
						  data: {"url":value},
						  async: true,
						  complete: function(){
						  	listData(materias);
							$('#myModal').modal('hide');
						  },
						  success: function(data){
						  	//console.log(data);
						  	materias = data;
						  },
						  dataType: "json",
						  error: function(e){
						  	//console.log(e);
						  }
						});

					/////////ajax end/////
				}
			});

			function listData(materias){
				$('#pool').html('');
				$.each(materias,function(i,v){
					//console.log(v);

					$('#pool').append('<div class="col-md-6" >'+
						'<span class=" mat label label-success" id="'+i+'"><small id="materia">'+
						v.clave+' - '+v.materia.substring(0,46)+"<small></span>"
						+'</div> <br/>');
				});
				//$('#pool-wrapper').show();
			}

			$('.option').click(function(e){
				e.preventDefault();
			
			});

			$('#add').on('click',function(e){
				//alert('lala');
			
			});

			$('#filter').keypress(function(){
				if ( event.which == 13 ) {
					event.preventDefault();
				}
				var string = $(this).val().toLowerCase().split(" ");
				if(string == ""){
					mat = materias;
				}else{
				var mat = {};
					//console.log('string');
					//console.log(string);
					$.each(materias,function(i,v){
						$.each(string,function(ind,val){
							if(v.materia.toLowerCase().indexOf(val) !=-1 |
								v.profesor.toLowerCase().indexOf(val) !=-1 |
								v.clave.toLowerCase().indexOf(val) !=-1 |
								v.horario.toLowerCase().indexOf(val) !=-1){
								//alert('found');
								mat[i]=v;
								//console.log(v);
							}else{
								//alert('not found');
							}
							
						});
					});
				}
				filtrar(mat);
			});


			function filtrar(mat){
				//console.log("mat: ");
				//console.log(mat);
				//console.log("materias: ");
				//console.log(materias);
				$('#pool').html('');
				$.each(mat,function(i,v){
					$('#pool').append('<div class="col-md-6" >'+
						'<span class="mat label label-success" id="'+i+'"><small id="materia">'+
						v.clave+' - '+v.materia.substring(0,46)+"<small></span>"
						+'</div> <br/>');
					//console.log(v);

				});
				
			}
			
		});

			//alert('alert!');
		$(document).on('click', '#clear', function(){
			$('#h-body').html("<tr><td colspan=\"7\"><center>No hay materias</center></td><tr>");
		});
		$(document).on('click', '#down', function(){
			window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#horario').html()));
		    e.preventDefault();

		});
		$(document).on('click', '#add', function(){
			$('#descripcion').modal('hide');
			var content = $('#h-body').html();
			var materiaAdd = $('#desc-title').html().replace("<b>","").replace("</b>","");
			materiaAdd = materias[materiaAdd];
			var horario = materiaAdd.horario.replace(" a ","-").replace("y",",").replace(","," ").toLowerCase();
			var line = "";
			var hora="";
			//var row = new Array();

			horario = horario.replace(" a.m.","a.m.").replace(" p.m.","p.m.").toLowerCase();
			horario = horario.replace("á","a").replace("é","e");
			//horiario = horario.split(" ");
			horario = horario.split(" ");
			//console.log(horario);
			var day = 0;
			if (content.indexOf("No hay materias") != -1){
				//console.log(content);
				for (var i = 0; i < horario.length; i++){
					if(horario[i] == "lunes"){
						line += "<td>"+materiaAdd.clave+"</td>";
						day = 1;
					}else if(horario[i] == "martes"){
						
						if (day != 1){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 2;

					}else if(horario[i] == "miercoles"){
						
						if (day == 0){
							line += "<td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 1){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 3;

					}else if(horario[i] == "jueves"){
						
						if (day == 0){
							line += "<td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 1){
							line += "<td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 2){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 4;

					}else if(horario[i] == "viernes"){

						if (day == 0){
							line += "<td></td><td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 1){
							line += "<td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 2){
							line += "<td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 3){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 5;
						//line += "<td>"+materiaAdd.clave+"</td>";
					}else if(horario[i] == "sabado"){
						
						if (day == 0){
							line += "<td></td><td></td><td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 1){
							line += "<td></td><td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 2){
							line += "<td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 3){
							line += "<td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 4){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 6;

					}else if(horario[i].length > 3){
						hora += horario[i];
					}else if(horario[i] == "~"){
						line += "<td>"+materiaAdd.clave+"</td>"+"<td>"+materiaAdd.clave+"</td>"+"<td>"+materiaAdd.clave+"</td>"+"<td>"+materiaAdd.clave+"</td>"+"<td>"+materiaAdd.clave+"</td>";
						day=5;
					}
				}

				last = "";
				//console.log(day)
				//console.log((6-day))
				for (var x =0;x < (6-day); x++){
					last += "<td></td>";
				}
				//console.log(last);
				$('#h-body').html('');
				$('#h-body').append('<tr><td>'+hora+"</td>"+line+last+'</tr>');

			}else{
				//console.log(content);
				for (var i = 0; i < horario.length; i++){
					if(horario[i] == "lunes"){
						line += "<td>"+materiaAdd.clave+"</td>";
						day = 1;
					}else if(horario[i] == "martes"){
						
						if (day != 1){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 2;

					}else if(horario[i] == "miercoles"){
						
						if (day == 0){
							line += "<td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 1){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 3;

					}else if(horario[i] == "jueves"){
						
						if (day == 0){
							line += "<td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 1){
							line += "<td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 2){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 4;

					}else if(horario[i] == "viernes"){

						if (day == 0){
							line += "<td></td><td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 1){
							line += "<td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 2){
							line += "<td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 3){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 5;
						//line += "<td>"+materiaAdd.clave+"</td>";
					}else if(horario[i] == "sabado"){
						
						if (day == 0){
							line += "<td></td><td></td><td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 1){
							line += "<td></td><td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 2){
							line += "<td></td><td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 3){
							line += "<td></td><td></td><td>"+materiaAdd.clave+"</td>";
						}else if (day == 4){
							line += "<td></td><td>"+materiaAdd.clave+"</td>";
						}else{
							line += "<td>"+materiaAdd.clave+"</td>";
						}
						day = 6;

					}else if(horario[i].length > 3){
						hora += horario[i];
					}else if(horario[i] == "~"){
						line += "<td>"+materiaAdd.clave+"</td>"+"<td>"+materiaAdd.clave+"</td>"+"<td>"+materiaAdd.clave+"</td>"+"<td>"+materiaAdd.clave+"</td>"+"<td>"+materiaAdd.clave+"</td>";
						day=5;
					}
				}

				last = "";
				//console.log(day)
				//console.log((6-day))
				for (var x =0;x < (6-day); x++){
					last += "<td></td>";
				}
				//console.log(last);
				//$('#h-body').html('');
				$('#h-body').append('<tr><td>'+hora+"</td>"+line+last+'</tr>');


			}

		});
		$(document).on('click', '.mat', function(){
			var index = $(this).attr('id');
			var materiaObj = materias[index];

			$("#desc-title").html('<b>'+materiaObj.clave+'</b>');
			$("#desc-body").html("<br/><b>"+materiaObj.materia+"</b>");
			$("#desc-body").append("<b>Profesor: </b>"+materiaObj.profesor+"<br>");
			$("#desc-body").append("<b>Salón: </b>"+materiaObj.salon+"<br>");
			$("#desc-body").append("<b>Horario: </b>"+materiaObj.horario+"<br>");
			$("#desc-body").append("<b>Unidades: </b>"+materiaObj.unidades+"<br>");
			$("#desc-body").append("<b>Tipo: </b>"+materiaObj.tipo+"<br>");
			$("#desc-body").append("<b>Idioma: </b>"+materiaObj.idioma+"<br>");
			$("#desc-body").append("<b>Plazas Disponibles: </b>"+
				(parseInt(materiaObj.plazas)-parseInt(materiaObj.inscritos))+"<br>");
			//console.log(materiaObj);
			//console.log(materiaObj.plazas);
			//console.log(materiaObj.inscritos);

			$("#descripcion").modal('show');
		});
    </script>
  </body>
</html>